body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin-top: 35px;
    margin-left: 55px;
    margin-right: 55px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}